---
import { Image } from "astro:assets";
import laptop from "../../assets/laptop.png";
---
<section class="mt-20   py-20 md:px-6 ">
<h2 class="text-5xl font-sans font-bold text-center mb-16">Nuestros pilares fundamentales</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 ">
        <div class="hover:border-primary/20 hover:bg-primary-light/30 card-glint reveal reveal-up delay-3 hover-lift md:col-span-2  flex flex-col  md:items-start p-8 rounded-xl border-[#F2F4F7] bg-[#F2F4F7]  shadow-sm  hover:border-primary/20 transition-all duration-500">
            <div class="icon-pop hover:bg-primary-light/30 w-12 h-12 rounded-lg bg-primary/20 flex items-center justify-center text-primary mb-6">
                <span class="material-symbols-outlined">qr_code</span>
            </div>
            <h3 class="text-2xl font-bold text-on-surface mb-4">Conexión sin Fricción</h3>
            <p class="text-slate-600 text-start leading-relaxed">Olvida las configuraciones complejas. Nuestra tecnología de vinculación por código 
                QR permite conectar al cuidador con el paciente en segundos.</p>
        </div>
        <div class="card-glint reveal reveal-up delay-3 hover-lift md:col-span-1  flex flex-col  md:items-start p-8 rounded-xl border-primary bg-primary hover:bg-primary-hover shadow-sm  hover:border-primary transition-all duration-500">
            <div class="icon-pop hover:bg-primary-hover w-12 h-12 rounded-lg bg-primary-light/20 flex items-center justify-center text-primary-light mb-6">
                <span class="material-symbols-outlined">health_and_safety</span>
            </div>
            <h3 class="text-2xl text-white font-bold text-on-surface mb-4">Empatía Digital</h3>
            <p class="text-white text-start leading-relaxed">Priorizamos la 
                legibilidad y la simplicidad para que el monitoreo sea una ayuda.</p>
        </div>
        <div class="hover:border-primary/20 hover:bg-primary-light/30 card-glint reveal reveal-up delay-3 hover-lift md:col-span-1  flex flex-col  md:items-start p-8 rounded-xl border-[#F2F4F7] bg-[#F2F4F7]  shadow-sm  hover:border-primary/20 transition-all duration-500">
            <div class="icon-pop hover:bg-primary-light/30 w-12 h-12 rounded-lg bg-[#59c991] flex items-center justify-center text-[#002112] mb-6">
                <span class="material-symbols-outlined">add_alert</span>
            </div>
            <h3 class="text-2xl font-bold text-on-surface mb-4">Alertas Reales</h3>
            <p class="text-slate-600 text-start leading-relaxed">Notificaciones S.O.S. inmediatas mediante WebSockets.</p>
        </div>
        <div class="hover:border-primary/20 hover:bg-primary-light/30 card-glint reveal reveal-up delay-3 hover-lift md:col-span-2 p-8 rounded-xl bg-surface-container-low flex items-center gap-8 border-[#F2F4F7] bg-[#F2F4F7]  shadow-sm  hover:border-primary/20 transition-all duration-500">
            <div class="icon-pop hover:bg-primary-light/30 hidden sm:block w-32 h-32 rounded-xl overflow-hidden shrink-0">
                <Image alt="Equipo trabajando" class="w-full h-full object-cover" data-alt="Hands of a diverse medical team stacked together" src={laptop}/>
            </div>  
            <div>
            <h3 class="text-2xl font-bold text-on-surface mb-4">Privacidad Familiar</h3>
            <p class="text-slate-600 text-start leading-relaxed">Tus datos son tuyos. Implementamos un modelo de acceso restringido donde solo los familiares
                 invitados mediante PIN seguro pueden ver la ubicación y actividad del paciente.</p>
            </div>
        </div>
    </div>    
</section>