---
import AdvancedFeaturesSection from '../components/index/AdvancedFeaturesSection.astro';
import CtaSection from '../components/index/CtaSection.astro';
import FaqSection from '../components/index/FaqSection.astro';
import HeroSection from '../components/index/HeroSection.astro';
import HowItWorksSection from '../components/index/HowItWorksSection.astro';
import SiteFooter from '../components/index/SiteFooter.astro';
import SiteHeader from '../components/index/SiteHeader.astro';
import WhyChooseSection from '../components/index/WhyChooseSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenida a CuidaLink">
	<div class="relative w-full overflow-x-hidden">
		<SiteHeader />

		<main class="flex flex-col pt-14">
			<HeroSection />
			<WhyChooseSection />
			<HowItWorksSection />
			<AdvancedFeaturesSection />
			<FaqSection />
			<CtaSection />
		</main>

		<SiteFooter />
	</div>
</Layout>
